body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}
header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
    Display:flex;
    
}
h1{
    font-size: 38px;
    margin-top:3%;
    font-weight: bold;
    position: relative;
    align-items:center;
    display:block;
}

.logo{
    height:10%;
    width:10%;
    margin-right: 20px;
    position:relative;
    object-fit: cover;
    border-radius:80%;
    margin-left:30%;

}

h2{
    font-size: 36px;
    margin-bottom: 0;
    font-weight: bold;
    position: relative;
    align-items:center;
    display:block;
}

h3{
    font-size: 24px;
    margin-bottom: 0;
    font-weight: bold;
    position: relative;
    margin-left:0px;

}

main {
    padding: 20px;
}
.search, .flight-preview-sec, .seat-preview {
    background: white;
    padding: 3px;
    margin: 20px auto;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.seat-preview{
    margin-left:1pc;
    position:relative;
    width:18pc;
    display:inline-block;
    padding-left:3pc;

}

.flight-preview-div{
    background: white;
    margin: 20px auto;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height:9pc;
    padding-left: 2px;
    padding-top:1pc;
}

 #dep-time, #arr-time, #jor-time, #duration, #price, #book{
    margin-left:15px;
    margin-right:50px;
    display:inline-block;
 }  

 svgs{
    
    margin-left:0px;
    margin-right:0px;
    display:block;
 }
 svg{
    margin-left:0px;
    margin-right:0px;
 }

 rect, circle{
     stroke-width:1;
     stroke:rgb(3, 3, 3);
     
 }





#flight-name{
    display:inline-block;
    margin-top:0px; 
    margin-left:1.3pc;
    text-align: left;
    margin-right:23pc;


}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #0073e6;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #005bb5;
}
